.banner-container {
    display: flex;
    justify-content: space-around;
    height: 500px;
    border: 2px;
    align-items: center;
    padding: 10px 10px;
    background: rgba(229, 84, 115, 0.10);
}

.banner-text {
    padding: 50px;
    color: #272727;
    font-size: 25px;
    font-weight: 40px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}
.banner-img {
    width: 300px;
    padding: 30px;
    height: 400px;
}

.btn-primary {
    border: 10px solid #E55473;
    background: #E55473;
    border-radius: 5px;
    padding: 5px;


}

.Featured-container {
    text-align: center;
    border: 5px;
    background: #FFF;
}
.Featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
}

.Flower-tree-container {
    background: #FFF;
    display: flex;
    
}
.Flower-tree {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 70px;
    border: 20px;
    padding: 5px;
    
}
.Flower-title {
    text-align: center;
    padding: 10px;
}
.Group-container {
    display: flex;
    justify-content: center;
    margin: 60px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    /* gap: 20px; */
}
.flower-Group {
    margin: 60px;
    border: 10px;
    padding: 10px;
    gap: 60px;
}

.sale-container {
    display: flex;
    justify-content: space-around;
    height: 500px;
    border: 2px;
    align-items: center;
    border: 2px solid gray;
    padding: 10px;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 30px;
}

.sale-img {
    margin-right: 20px;

}

.sale-detail {
    text-align: center;
}

.sale-title {

    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.sale-title-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.text-of,
.text-Flower {
    color: #E55473;
    font-size: 40px;
    font-weight: 800px;

}

.text-Shop {
    color: #FFF;
    font-size: 45px;
    font-weight: 800;
}

.text-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;

}

.text-rights {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

.Rectangle-Flower-container {
    display: flex;
    margin: 10px;
    border: 5px;
    padding: 5px 10px;
    gap: 50px;
}

.Instagram-title {
    text-align: center;
}

.Instagram-description,
.form-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;

}

.form-container {
    background-image: url('../styles/Rectangle\ 9.png');
    text-align: center;
    height: 200px;
    width: 100%;
    padding: 70px;
    margin-top: 60px;
}

.input-filed {
    width: 500px;
    height: 40px;
}

.FlowerShop-container {
    background: #111010;
    text-align: center;
    /* height: 200px; */
    width: 100%;
    padding: 70px;
    margin-top: 60px;
}